<html>
    <div>
        <table>
            <tr>
                <td>        
                    {% for row in rows %}
                        <p>{{ row.id }}</p>
                    {% endfor %}
                </td>
                <td>        
                {% for row in rows %}
                    <p>{{ row.company }}</p>
                {% endfor %}
                </td>
                <td>        
                    {% for row in rows %}
                        <p>{{ row.data1 }}</p>
                    {% endfor %}
                </td>
                <td>        
                    {% for row in rows %}
                        <p>{{ row.data2 }}</p>
                    {% endfor %}
                </td>
                <td>        
                    {% for row in rows %}
                        <p>{{ row.data3 }}</p>
                    {% endfor %}
                </td>
                <td>        
                    {% for row in rows %}
                        <p>{{ row.data4 }}</p>
                    {% endfor %}
                </td>
                <td>        
                    {% for row in rows %}
                        <p>{{ row.data5 }}</p>
                    {% endfor %}
                </td>
                <td>        
                    {% for row in rows %}
                        <p>{{ row.data6 }}</p>
                    {% endfor %}
                </td>
                <td>        
                    {% for row in rows %}
                        <p>{{ row.data7 }}</p>
                    {% endfor %}
                </td>
                <td>        
                    {% for row in rows %}
                        <p>{{ row.data8 }}</p>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
</html>

